
<body>
  <div class ="image">
   <header>
      <div class="login">
          <h2>Connexion</h2>
      </div>
      <nav>
        <div class="hoverLeft">
          <button (click)="pageProduits()">
            <h2>Produits </h2>
        </button>
      </div>
      <div class="hoverMiddle">
          <button (click)="pageCommandes()"><h2>Commandes </h2></button>
      </div>
      <div class="hoverRight">
          <button (click)="pageUsers()"><h2>Users</h2></button>
      </div>
  </nav> 
   
   
  <div class="titre">
      <h1>404 Not Found</h1>
  </div>
  
   </header>
  </div>
 
  </body>
  
  
  <footer> 
      <p>© Adrien & Melissa 🦆</p></footer>
