
<body>
  <div class ="image">
   <header>
    <div class="login">
        <div class="connexion">
             <h2>Connexion</h2>
        </div>
        <div class="accueil">
             <h2>Accueil</h2>
        </div>
    </div>
    <nav>
      <div class="hoverLeft">
          <h2 (click)="pageProduits()">Produits </h2>
    </div>
    <div class="hoverMiddle">
        <h2 (click)="pageCommandes()"> Commandes </h2>
    </div>
    <div class="hoverRight">
        <h2 (click)="pageClients()"> Clients</h2>
    </div>
    <div class="hoverExtremRight">
        <h2 (click)="pageUsers()"> Users</h2>
    </div>
</nav> 
   
   
  <div class="titre">
      <h1>404 Not Found</h1>
  </div>
  
   </header>
  </div>
 
  </body>
  
  
  <footer> 
      <p>© Adrien & Melissa 🦆</p></footer>
