<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <title>Document</title>
</head>
<body>
        <header>
            <div class="login">
                <h2 (click)="pageConnexion()">Connexion</h2>
            </div>
            <nav>
                
                <div class="hoverLeft">
                    <h2>Produits </h2>
                </div>
                <div class="hoverMiddle">
                    <h2>Commandes </h2>
                </div>
                <div class="hoverRight">
                    <h2>Clients</h2>
                </div>
                <div class="hoverExtremRight">
                    <h2>Users</h2>
                </div>
            </nav>

            <div class="titre">
                <h1> Projet Angular</h1>
                <h3> Bienvenue</h3>
            </div>

        </header>
   

    <main>
        <div class="produits">
            <div class="liste">
                <h2>Liste de commandes par clients :</h2>
                <div class="commandes">
                <table>
                    <thead>
                        <tr>
                            <th>Nom des clients</th>
                            <th>Nombre de commandes réalisés</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let customer of customerOrders">
                            <td>{{ customer.name }}</td>
                            <td>{{ customer.totalOrdersId }}</td>
                            
                        </tr>
                    </tbody>
                </table>


                </div>
                <h2 class = "produitsH2">Liste de commandes par produits :</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Nom des produits</th>
                            <th>Nombre de commandes par produits</th>
                
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of productsOrders">
                            <td>{{ product.name }}</td>
                            <td>{{ product.totalOrdersId }}</td>
                
                        </tr>
                    </tbody>
                </table>
            </div>



        </div>
    </main>
</body>


<footer>
    <p>© Adrien & Melissa 🦆</p>
</footer>
