
<body>
<div class ="image">
 <header>
    <div class="login">
        <div class="connexion">
             <h2>Connexion</h2>
        </div>
        <div class="accueil">
             <h2>Accueil</h2>
        </div>
    </div>
    <nav>
        <div class="hoverLeft">
          <button class="pageButton" (click)="pageProduits()">
            <h2>Produits </h2>
        </button>
      </div>
      <div class="hoverMiddle">
          <button (click)="pageCommandes()"><h2>Commandes </h2></button>
      </div>
      <div class="hoverRight">
          <button (click)="pageUsers()"><h2>Users</h2></button>
      </div>
  </nav> 
 
 <div class="titre">
     <h1> Projet Angular</h1>
     <h3> Bienvenue</h3>
 </div>

 </header>
 </div>

 <main>
 <div class="produits">
 <div class="liste">
     <h2>Liste des produits:</h2>
 </div>

 gdfgdfgdfgksdkfsd
 <div class ="ajouter">
 <div class="liste">
     <h2>Ajouter un produit:</h2>
 </div>
 <form>
     <label>Ajoutez le nom du produit.</label> <br>
     <input name="Produit" type="text" placeholder="Nom du produit"/> <br>
     <button type="submit" class="submit">Ajouter</button>
 </form>
</div> 

<div class="modifier">
 <div class="liste">
     <h2>Modifier un produit:</h2>
 </div>
 <form>
    <label>Modifiez le nom du produit.</label> <br>
    <input name="Produit" type="text" placeholder="Nom du produit"/> <br>
    <button type="submit" class="submit">Modifier</button>
</form>
 </div> 
</div>
 </main>
 </body>


 <footer> 
     <p>© Adrien & Melissa 🦆</p></footer>