
<body>
  <div class ="image">
   <header>
    <div class="login">
        <div class="connexion">
             <h2>Connexion</h2>
        </div>
        <div class="accueil">
             <h2>Accueil</h2>
        </div>
    </div>
      <nav>
        <div class="hoverLeft">
          <button (click)="pageProduits()">
            <h2>Produits </h2>
        </button>
      </div>
      <div class="hoverMiddle">
          <button (click)="pageCommandes()"><h2>Commandes </h2></button>
      </div>
      <div class="hoverRight">
          <button class ="pageButton" (click)="pageUsers()"><h2>Users</h2></button> 
      </div>
  </nav> 
   
  <div class="titre">
      <h1> Projet Angular</h1>
   <h3> Bienvenue</h3>
  </div>
  
   </header>
  </div>
  
   <main>
   <div class="utilisateurs">
   <div class="liste">
      <h2>Liste des utilisateurs:</h2>
  </div>
  
  <table>
    <tr>
        <th>Id:</th>
        <th>Userame:</th>
        <th>Role:</th>
        <th>Password:</th>
       
    </tr>
    <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.role}}</td>
        <td>{{user.password}}</td>   
    </tr>
</table>

   <div class ="formulaire">
    <div class="liste">
        <h2>Créer ou modifier les informations <br> des utilisateurs</h2>
    </div>
    <form>
        <input name="Produit" type="text" placeholder="Créer un utilisateur"/> <br>
       <input name="Produit" type="text" placeholder="Modifier les informations d'un utilisateur"/> <br>
       <button type="submit" class="submit">Envoyer</button>
       <button type="submit" class="delete">Supprimer</button>
   </form>
    </div> 
   </div>

  </main>
  </body>
  
  
  <footer> 
      <p>© Adrien & Melissa 🦆</p></footer>